config VPU_HELIX
    depends on SOC_VPU
    bool "vpu helix client device of soc_vpu"
    default y

if VPU_HELIX
config VPU_HELIX_NUM
    depends on VPU_HELIX
    int "vpu helix node number"
    default 1
endif
